
<form class="form-horizontal">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.displayeta.auto_continue">

        </label>
    </div>
    
</form>

