<h3>{{ _('Power Failure Recovery') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Default Value') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="checkbox" data-bind="checked: settings.plugins.octoprint_eta.auto_continue">
                </div>
            </div>
        </div>
    </form>
</div>
