<h3>{{ _('Power Failure Recovery') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.powerfailure.auto_continue">Continue printing automatically after a power failure.
            </label>
            <label>
                <input type="number" class="input-mini" data-bind="value: settings.plugins.powerfailure.z_homing_height"> Z_HOMING_HEIGHT
            </label>
            <label>
                <textarea data-bind="value: settings.plugins.powerfailure.gcode"> </textarea> Gcode initialization before continuing a print:
            </label>
        </div>
        
    </form>
</div>



