<div id="powerfailure_wizard">
    <h2>Setup - Important</h2>
        <ul>
            <li>Determine if your printer has Z_HOMING_HEIGHT set.
                This setting raises the Z-axis on any homing event to avoid collisions.
                You can check your printer firmware configuration or in a resting state issue
                the command <i>G28 X0 Y0</i> in the command terminal and observe if the Z-axis is raised, and by how much.
                This value is used for Z_HOMING_HEIGHT.</li>

            <li>The Save Frequency setting determines how often the plugin will write the current state
             information to disk in seconds. Lower values (0.3-0.5) provide greater accuracy at the expense
             of a greater number of disk writes. Larger values risk missing a greater number of commands.</li>

            <li>Klipper firmware. You must have the <i>[force_move]</i> section with the enable_force_move=true option
                in your Klipper configuration. Check the appropriate box in the settings. If <i>[safe_z_home]</i> is set,
                use the z_hop value as Z_HOMING_HEIGHT.</li>
            <li>For other setting information, visit the plugin <a href="https://github.com/pablogventura/OctoPrint-PowerFailure>homepage</a>.</li>
        </ul>
    <h2>Release notes</h2>
    Current version: 1.2.0
    <br>
    <ul>
        <li>Wizard on setup</li>
        <li>Use gcode sending instead of queuing</li>
    </ul>

</div>