<h3>{{ _('Power Failure Recovery') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.powerfailure.auto_continue">Continue printing automatically after a power failure.
            </label>
            <label>
                <input type="number" class="input-mini" data-bind="value: settings.plugins.powerfailure.z_homing_height"> Z_HOMING_HEIGHT
            </label>
            <label>
                <input type="text" class="input-mini" data-bind="numeric, value: settings.plugins.powerfailure.save_frequency"> Save Frequency (s)
            </label>
            <h3>{{ _('Gcode initialization before continuing a print:') }}</h3>
            <label>
                <textarea data-bind="value: settings.plugins.powerfailure.gcode"> </textarea>
            </label>
        </div>
        
    </form>
</div>



